<div class="container">
  <h1>About Hub-Find</h1>
  <img src="https://bit.ly/2ydHUVT" alt="Photo of a magnifying glass" height=380 width=350>
  <p>GitHub has more that 40 million users, and each user has multiple private and public repositories. Hub-Find allows users to view details particular to a specific GitHub User with relative ease.</p>
  <p>To view a user and their public repositories, all Hub-Find users have to do is type the username of the GitHub user that they would love to learn more about</p>
  
</div>