<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hub-Find</h1>
    <p>Search and view GitHub users' profiles</p>
    <p><a routerLink="/about" class="btn btn-dark btn-lg">Learn More</a></p>
  </div>
</div>
<div class="containerUn parallax">
  <ngx-spinner bdColor="rgba(0,0,0,0.5)"
  size="medium"
  color="white"
  type="square-jelly-box"
  >
  <p style="font-size: 15px; color: white">Loading...</p>
  </ngx-spinner>
  <h2>New To The Site?</h2>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="instructions">
      <p>To view a users' profile, please type the name of the user in the input field below.</p> 
      <p>The site will return public information about the user including her/his/their public repositories</p>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="input-group" id="nameSearch">
        <input type="text" class="form-control" placeholder="Search for a GitHub user" [(ngModel)]="username" name="username" (keyup)="returnProfile()">
        <div class="input-group-append">
          <button class="btn btn-dark" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <h2>User's Details</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>Profile</h3>
      <div class="card" style="width: 22rem;">
        <img class="card-img-top" src={{user.avatar_url}} alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" appHighlight>Username: {{user.login}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item badge">Repositories: {{user.public_repos}}</li>
          <li class="list-group-item badge">Followers: {{user.followers}}</li>
          <li class="list-group-item badge">Following: {{user.following}}</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">{{user.url}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h3>Repositories</h3>
      <div *ngIf="repo">
        <div *ngFor="let repo of repos | keyvalue">
          <p>{{repo.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="container">
  <p style="text-align:center">&copy; Waithera-m</p>
</footer>