<div class="jumbotron">
  <div class="container" style="margin-top: 80px;">
    <h1 class="display-3">Hub-Find</h1>
    <p class="display-5">Search and view GitHub users' profiles</p>
    <p><a routerLink="/about" class="btn btn-dark btn-lg">Learn More</a></p>
  </div>
</div>
<div class="containerUn parallax">
  <ngx-spinner bdColor="rgba(0,0,0,0.5)"
  size="medium"
  color="white"
  type="square-jelly-box"
  >
  <p style="font-size: 15px; color: white">Loading...</p>
  </ngx-spinner>
  <h2>New To The Site?</h2>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="instructions">
      <p>To view a users' profile, please type the name of the user in the input field below.</p> 
      <p>The site will return public information about the user including her/his/their public repositories</p>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form id="findUser">
        <div class="form-group">
          <div class="input-group" id="nameSearch">
            <input type="text" class="form-control" placeholder="Search for a GitHub user" [(ngModel)]="username" name="username" (keyup)="returnProfile()">
            <div class="input-group-append">
              <button class="btn btn-dark" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
     
    </div>
    <div class="col-md-3"></div>
  </div>
  <hr>
  <h2 class="text-center">{{user.login | titlecase}}'s Profile</h2>
  <hr>
  <div class="row d-flex justify-content-around">
    
    <div class="col-md-4">
      <div class="card shadow rounded">
        <img class="card-img-top" src={{user.avatar_url}} alt="Card image cap">
        <div class="card-body">
          <div class="row d-flex justify-content-around">
            <p class="btn btn-dark btn-sm">Repositories: {{user.public_repos}}</p>
            <p class="btn btn-dark btn-sm">Followers: {{user.followers}}</p>
            <p class="btn btn-dark btn-sm">Following: {{user.following}}</p>
            <p class="btn btn-dark btn-sm">Created: {{user.created_at | joined}}</p>
          </div>
          <div class="row d-flex justify-content-around">
            <a href="{{user.html_url}}" target="_blank" class="btn btn-sm btn-info">View Profile on GitHub</a>
           
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="user">
        <div>
          <ul *ngFor="let repo of userService.repo">
            
            <div class="card shadowed rounded">
              <div class="card-body">
                <h5 class="display-5">{{this.repo.full_name}}</h5>
                <hr>
                <p class="card-text">{{this.repo.description}}</p>
                <div class="row d-flex justify-content-around">
                  <span class="btn btn-dark btn-sm">{{this.repo.watchers}} Watcher</span>
                  <span class="btn btn-dark btn-sm">{{this.repo.forks}} Forks</span>
                  <span class="btn btn-info btn-sm"><a style="color: white;" href="{{this.repo.html_url}}" target="_blank"><i class="fa fa-eye mr-1"></i>View Repo</a></span>
                </div>
                
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
    
  </div>
</div>
<footer class="container">
  <p style="text-align:center">&copy; Waithera-m</p>
</footer>