<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hub-Find</h1>
    <p>Search and view GitHub users' profiles</p>
    <p><a class="btn btn-dark btn-lg" href="#" role="button">Learn More</a></p>
  </div>
</div>
<div class="containerUn parallax">
  <h2>New To The Site?</h2>
  <hr>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="instructions">
      <p>To view a users' profile, please type the name of the user in the input field below.</p> 
      <p>The site will return public information about the user including her/his/their public repositories</p>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="input-group" id="nameSearch">
        <input type="text" class="form-control" placeholder="Search for a GitHub user">
        <div class="input-group-append">
          <button class="btn btn-dark" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src={{user.avatar_url}}>
    </div>
  </div>
</div>
<footer class="container">
  <p style="text-align:center">&copy; Waithera-m</p>
</footer>