.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  background-image: url("https://bit.ly/2XkYnlU");
  background-size: cover;
  height: 560px;
  color: rgb(252, 248, 248);
  font-size: 280%;
  text-align: center;
}
/* #nameSearch {
  width: 80px;
} */

@media (min-width: 480px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

